Repository moonbell0215/pagsmytest: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

azure-pipelines-wallet-transaction-processor.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Gradle@2
        inputs:
          gradleWrapperFile: gradlew
          tasks: wallet-transaction-processor:build
  ...

azure-pipelines-webservice-dispatcher.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Gradle@2
        inputs:
          gradleWrapperFile: gradlew
          tasks: webservice-dispatcher:build
          publishJUnitResults: false
  ...

follow REST naming convention
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210115 TransationCreatedEvent 增加 beforebalance 及 afterbalance 屬性 移除指定port的設定
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/BalanceUpdatedEvent.java
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/TransactionCreatedEvent.java
  wallet-materialized-view-processor/src/main/java/com/dht/pags/wallet/materalizedviewprocesor/fn/WalletMaterializedViewProcessor.java
  wallet-materialized-view-processor/src/main/resources/application.properties
  wallet-transaction-processor/src/main/java/com/dht/pags/wallet/transactionprocessor/fn/WalletTransactionFunction.java
  webservice-dispatcher/src/main/resources/application.properties
  webservice-inquiry-processor/src/main/resources/application.properties
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

mayor 20210115 還原前一動修改
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/TransactionCreatedEvent.java
  wallet-materialized-view-processor/src/main/java/com/dht/pags/wallet/materalizedviewprocesor/fn/WalletMaterializedViewProcessor.java
  wallet-transaction-processor/src/main/java/com/dht/pags/wallet/transactionprocessor/fn/WalletTransactionFunction.java
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

mayor 20210115 TransationCreatedEvent 增加 beforebalance 及 afterbalance 屬性 移除指定port的設定
  wallet-materialized-view-processor/src/main/java/com/dht/pags/wallet/materalizedviewprocesor/fn/WalletMaterializedViewProcessor.java
  wallet-materialized-view-processor/src/main/java/com/dht/pags/wallet/materalizedviewprocesor/repository/MaterializedViewUpdateService.java
  wallet-materialized-view-processor/src/main/resources/application.properties
  webservice-dispatcher/src/main/resources/application.properties
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
  webservice-inquiry-processor/src/main/resources/application.properties
Due: azure-pipelines-webservice-dispatcher.yml

mayor 20210119 移除指定port的設定
  wallet-materialized-view-processor/src/main/resources/application.properties
  webservice-dispatcher/src/main/resources/application.properties
  webservice-inquiry-processor/src/main/resources/application.properties
Due: azure-pipelines-webservice-dispatcher.yml

mayor 20210120 修改 InquiryBalanceController
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210120 修正 balanceupdateEvent 金額錯位
  wallet-transaction-processor/src/main/java/com/dht/pags/wallet/transactionprocessor/fn/WalletTransactionFunction.java
Due: azure-pipelines-wallet-transaction-processor.yml

mayor 20210121 增加orderDetail table
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/Balance.java
  wallet-materialized-view-processor/src/main/java/com/dht/pags/wallet/materalizedviewprocesor/fn/WalletMaterializedViewProcessor.java
  wallet-materialized-view-processor/src/main/java/com/dht/pags/wallet/materalizedviewprocesor/repository/MaterializedViewUpdateService.java
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

mayor 20210120 修改 InquiryBalanceController
  wallet-materialized-view-processor/src/main/resources/application.properties
Due: none

加入操作人員類型
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/CreateTransactionCommand.java
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/CreateTransactionCommandProcessedEvent.java
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/OperatorType.java
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/TransactionCreatedEvent.java
  wallet-materialized-view-processor/src/main/java/com/dht/pags/wallet/materalizedviewprocesor/fn/WalletMaterializedViewProcessor.java
  wallet-transaction-processor/src/main/java/com/dht/pags/wallet/transactionprocessor/fn/WalletTransactionFunction.java
  wallet-transaction-processor/src/test/java/com/dht/pags/wallet/transactionprocessor/WalletTransactionFunctionApplicationTests.java
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

mayor 20210127 InquiryBalanceController 增加團隊餘額查詢
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210129 修改團隊餘額查詢
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210130 測試
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210201 測試
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210201 更新 Transaction 物件
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/domain/Transaction.java
Due: none

mayor 20210201 修改 teamBalances
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210202 修改 InquiryBalanceController 增加 path 設定
  webservice-inquiry-processor/manifests/ingress.yml
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryBalanceController.java
Due: none

mayor 20210202 Transaction 增加 description
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/domain/Transaction.java
Due: none

mayor 20210120 修改 InquiryBalanceController
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/domain/Transaction.java
Due: none

mayor 20210202 修改 InquiryBalanceController
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryTransactionController.java
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/domain/Transaction.java
Due: none

mayor 20210202 修改 Transaction 輸出有格式的 dateTime
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/controller/InquiryTransactionController.java
  webservice-inquiry-processor/src/main/java/com/dht/pags/wallet/webservice/inquiryprocessor/domain/Transaction.java
Due: none

加入設定時區
  wallet-transaction-processor/manifests/deployment.yml
Due: azure-pipelines-wallet-transaction-processor.yml

環原加入設定時區
  wallet-transaction-processor/manifests/deployment.yml
Due: azure-pipelines-wallet-transaction-processor.yml

加入設定時區
  wallet-transaction-processor/Dockerfile
Due: azure-pipelines-wallet-transaction-processor.yml

還原加入設定時區
  wallet-transaction-processor/Dockerfile
  wallet-transaction-processor/manifests/deployment.yml
Due: azure-pipelines-wallet-transaction-processor.yml

還原加入設定時區
  wallet-transaction-processor/manifests/deployment.yml
Due: azure-pipelines-wallet-transaction-processor.yml

Path conditions:
  azure-pipelines-wallet-transaction-processor.yml: any of: wallet-transaction-processor, wallet-domain, but not: wallet-materialized-view-processor, webservice-dispatcher, webservice-inquiry-processor
  azure-pipelines-webservice-dispatcher.yml: any of: webservice-dispatcher, wallet-domain, but not: wallet-transaction-processor, wallet-materialized-view-processor, webservice-inquiry-processor
