Repository moonbell0215/pagsmytest: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

azure-pipelines-wallet-transaction-processor.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Gradle@2
        inputs:
          gradleWrapperFile: gradlew
          tasks: wallet-transaction-processor:build
  ...

azure-pipelines-webservice-dispatcher.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Gradle@2
        inputs:
          gradleWrapperFile: gradlew
          tasks: webservice-dispatcher:build
          publishJUnitResults: false
  ...

加入設定時區
  wallet-transaction-processor/manifests/deployment.yml
Due: azure-pipelines-wallet-transaction-processor.yml

加入設定時區
  wallet-transaction-processor/Dockerfile
Due: azure-pipelines-wallet-transaction-processor.yml

OperatorType 加入API Payout
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/OperatorType.java
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

調整PAYOUT 為正數 加錢
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/TransactionType.java
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

加入重新結算加钱及扣钱
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/TransactionType.java
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

調整equals及hashCode
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/BalanceUpdatedEvent.java
  wallet-domain/src/main/java/com/dht/pags/wallet/domain/TransactionCreatedEvent.java
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

測試時區
  wallet-transaction-processor/Dockerfile
Due: azure-pipelines-wallet-transaction-processor.yml

測試時區
  wallet-transaction-processor/src/main/java/com/dht/pags/wallet/transactionprocessor/fn/WalletTransactionFunction.java
Due: azure-pipelines-wallet-transaction-processor.yml

測試時區
  webservice-inquiry-processor/Dockerfile
Due: none

設定時區
  wallet-materialized-view-processor/Dockerfile
  wallet-transaction-processor/src/main/java/com/dht/pags/wallet/transactionprocessor/fn/WalletTransactionFunction.java
  webservice-dispatcher/Dockerfile
Due: azure-pipelines-wallet-transaction-processor.yml, azure-pipelines-webservice-dispatcher.yml

mayor 20210312 增加 檢查kafka 與 mvdb 資料的一致性排程專案 wallet-materialized-view-record-checker
  settings.gradle
  wallet-materialized-view-record-checker/.gitignore
  wallet-materialized-view-record-checker/Dockerfile
  wallet-materialized-view-record-checker/build.gradle
  wallet-materialized-view-record-checker/src/main/java/com/dht/pags/wallet/materalizedview/recordchecker/MaterializedViewRecordcheckerApplication.java
  wallet-materialized-view-record-checker/src/main/java/com/dht/pags/wallet/materalizedview/recordchecker/fn/CheckTransactionRecordFunction.java
  wallet-materialized-view-record-checker/src/main/java/com/dht/pags/wallet/materalizedview/recordchecker/repository/MaterializedViewCompareService.java
  wallet-materialized-view-record-checker/src/main/resources/application-e0.properties
  wallet-materialized-view-record-checker/src/main/resources/application.properties
Due: none

mayor 20210315 增加 azure-pipelines 的 yml 檔
  azure-pipelines-wallet-materalized-view-record-checker.yml
Due: none

mayor 20210120 修改 InquiryBalanceController
  wallet-materialized-view-record-checker/Dockerfile
Due: none

mayor 20210120 修改 InquiryBalanceController
  azure-pipelines-wallet-materalized-view-record-checker.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

20210504_01
  wallet-materialized-view-record-checker/manifests/deployment.yml
Due: none

20210504_02
  settings.gradle
Due: none

20210504_03
  azure-pipelines-wallet-materalized-view-processor.yml
  azure-pipelines-wallet-materalized-view-record-checker.yml
  azure-pipelines-wallet-transaction-processor.yml
  azure-pipelines-webservice-dispatcher.yml
  azure-pipelines-webservice-inquiry-processor.yml
  azure-pipelines.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-wallet-materalized-view-processor1.yml
Due: none

Set up CI with Azure Pipelines wmvp
  azure-pipelines.yml
Due: none

Set up CI with Azure Pipelines wmvp
  manifests/deployment.yml
Due: none

Set up CI with Azure Pipelines wmvp
  manifests/service.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines 20210518_03
  azure-pipelines.yml
Due: none

20210519_01
  wallet-materialized-view-processor/manifests/deployment.yml
Due: none

20210519_01
  azure-pipelines.yml
Due: none

20210519_02
  wallet-materialized-view-processor/manifests/deployment.yml
Due: none

20210519_03
  wallet-materialized-view-processor/manifests/deployment.yml
Due: none

Set up wallet-materialized-view-record-checker Pipelines
  azure-pipelines-1.yml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines_20210524_01
  azure-pipelines-1.yml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines_20210524_02
  azure-pipelines-1.yml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines_20210524_03
  azure-pipelines-1.yml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines_20210524_04
  azure-pipelines-1.yml
Due: none

20210524_05
  wallet-materialized-view-record-checker/manifests/deployment.yml
Due: none

20210524_05
  azure-pipelines-wallet-materalized-view-record-checker01.yml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines_20210524_06
  azure-pipelines-1.yml
Due: none

20210524_07
  azure-pipelines-1.yml
Due: none

Path conditions:
  azure-pipelines-wallet-transaction-processor.yml: any of: wallet-transaction-processor, wallet-domain, but not: wallet-materialized-view-processor, webservice-dispatcher, webservice-inquiry-processor
  azure-pipelines-webservice-dispatcher.yml: any of: webservice-dispatcher, wallet-domain, but not: wallet-transaction-processor, wallet-materialized-view-processor, webservice-inquiry-processor
